<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.1.6800.0" authCookieName=".SFAUTH-TorrentsWeb" rolesCookieName=".SFROLES-TorrentsWeb" validationKey="31CE8CFB733B252572DC5DC1DADB657B8467FAFA14FBFA894E3D7E8626B48666E821F0E583BF14BB41490CFBE8671378A81792696C49D7CA0D4ADE690B94A938" decryptionKey="5DFB9A6B30193D03F412B4773F0F3D9D6CAD5A5C1636523C9221351649B24985" loggingCookieName=".SFLOG-TorrentsWeb">
	<securityTokenIssuers>
		<add key="A8EFE27774389954A92B46133FDA6F04E7EF37BD1F31215498DCD55A7BA8C868" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="A8EFE27774389954A92B46133FDA6F04E7EF37BD1F31215498DCD55A7BA8C868" realm="http://localhost" />
	</relyingParties>
</securityConfig>